<template>
	<div>
		<header class="vff-header">
			<div class="f-container">
				<h1 class="f-logo">FESTIVAL DE GAVARNIE - EDITION 2022</h1>
			</div>
		</header>

		<flow-form
			ref="flowform"
			v-on:complete="onComplete"
			v-on:submit="onSubmit"
			v-on:answer="onAnswer"
			v-bind:language="language"
		>
			<question
				type="sectionbreak"
				id="intro"
				title="Bonjour ! "
				subtitle="En préparation de votre venue sur le Festival de Gavarnie, nous souhaiterions recueillir un certain nombre d'information 😊"
			></question>
			<question
				id="first_name"
				type="text"
				required="true"
				title="Vous vous appelez..."
				v-model="first_name"
				placeholder="Roméo"
			></question>
			<question
				id="name"
				type="text"
				required="true"
				:title="'' + first_name + ' de la famille des...'"
				v-model="name"
				placeholder="Montaigu"
			></question>
			<question
				id="phone"
				type="text"
				title="On peut vous joindre au..."
				v-model="phone"
				placeholder="+33678441187"
				mask="+##.#.##.##.##.##"
				description="Si vous n'arrivez pas à valider cette question, retapez simplement le dernier chiffre"
			></question>
			<question
				id="email"
				type="email"
				required="true"
				v-model="email"
				placeholder="romeo@montaigu.com"
				title="Confirmez votre email principal"
				subtitle="L'email sur lequel vous avez reçu l'invitation"
			></question>
			<question
				id="start_date"
				type="phone"
				mask="##/##/####"
				placeholder="JJ/MM/AAAA"
				required="true"
				v-model="start_date"
				title="Confirmez votre date d'arrivée"
			></question>
			<question
				id="end_date"
				type="phone"
				mask="##/##/####"
				placeholder="JJ/MM/AAAA"
				required="true"
				v-model="end_date"
				title="Confirmez votre date de départ"
			></question>
			<question
				id="has_break"
				type="MultipleChoice"
				required="true"
				v-model="has_break"
				nextStepOnAnswer="true"
				title="Serez-vous absent-e un ou plusieurs jours durant cette période ?"
				:options="[
					{
						label: 'OUI',
						value: 'has_break',
					},
					{
						label: 'NON',
						value: 'hasnt_break',
					},
				]"
				:jump="{
					has_break: 'start_break',
					hasnt_break: is_artist
						? 'intro_artist'
						: has_team
						? 'team_members_number'
						: 'transport_type',
				}"
			></question>

			<question
				id="start_break"
				type="phone"
				mask="##/##/####"
				placeholder="JJ/MM/AAAA"
				required="true"
				v-model="start_break"
				title="Confirmez la date de votre départ"
			></question>
			<question
				id="end_break"
				type="phone"
				mask="##/##/####"
				placeholder="JJ/MM/AAAA"
				required="true"
				v-model="end_break"
				title="Confirmez la date de votre retour"
				:jump="jumpToArtist()"
			></question>
			<question
				type="sectionbreak"
				id="intro_artist"
				title="Détails techniques"
				:subtitle="'La section qui suit concerne votre proposition : ' + from"
				description="Vous pouvez également envoyer un email à technique@festival-gavarnie.com"
			></question>
			<question
				id="from"
				type="text"
				required="true"
				title="Corrigez le nom de votre spectacle si nécéssaire"
				v-model="from"
			></question>
			<question
				id="needs_sound"
				type="LongText"
				v-model="needs_sound"
				title="Confirmez les besoins en son de votre spectacle"
			></question>
			<question
				id="needs_light"
				type="LongText"
				v-model="needs_light"
				title="Confirmez les besoins en lumière de votre spectacle"
			></question>

			<question
				id="needs_stage"
				type="LongText"
				v-model="needs_stage"
				title="Confirmez les besoins en plateau de votre spectacle"
			></question>

			<question
				id="needs_various"
				type="LongText"
				v-model="needs_various"
				title="D'autres détails à ajouter ?"
			></question>
			<question
				id="dates_validation"
				required="true"
				v-model="dates_validation"
				v-if="dates_list.lenght > 0"
				title="Est-ce que les dates de représentation ci-dessous sont conformes ?"
				type="Matrix"
				:rows="getDates()"
				:columns="[
					{
						value: 'OUI',
						id: 'OUI',
						label: 'OUI',
					},
					{
						value: 'NON',
						id: 'NON',
						label: 'NON',
					},
				]"
			></question>
			<question
				v-else
				id="dates_provided"
				required="true"
				v-model="dates_provided"
				title="Indiquez les dates de représentation qui vous ont été communiquées"
				type="Matrix"
				:rows="getDays()"
				:columns="[
					{
						value: 'OUI',
						id: 'OUI',
						label: 'OUI',
					},
					{
						value: 'NON',
						id: 'NON',
						label: 'NON',
					},
				]"
			></question>

			<question
				id="assembly_date"
				type="phone"
				mask="##/##/####"
				placeholder="JJ/MM/AAAA"
				v-model="start_assembly"
				title="Confirmez la date du montage souhaitée"
				subtitle="La date indiquée est celle que nous vous proposons"
			></question>
			<question
				id="start_assembly"
				type="phone"
				mask="##:##"
				placeholder="HH:MM"
				v-model="start_assembly"
				title="Confirmez l'heure de début du montage souhaitée"
				subtitle="L'heure indiquée est celle que nous vous proposons"
			></question>

			<question
				id="end_assembly"
				type="phone"
				mask="##:##"
				placeholder="HH:MM"
				v-model="end_assembly"
				title="Confirmez l'heure de fin du montage souhaitée"
				subtitle="L'heure indiquée est celle que nous vous proposons"
			></question>

			<question
				id="disassembly_date"
				type="phone"
				mask="##/##/####"
				placeholder="JJ/MM/AAAA"
				v-model="start_disassembly"
				title="Confirmez la date du démontage souhaitée"
				subtitle="La date indiquée est celle que nous vous proposons"
			></question>
			<question
				id="start_disassembly"
				type="phone"
				mask="##:##"
				placeholder="HH:MM"
				v-model="start_disassembly"
				title="Confirmez l'heure de début du démontage souhaitée"
				subtitle="L'heure indiquée est celle que nous vous proposons"
			></question>

			<question
				id="end_disassembly"
				type="phone"
				mask="##:##"
				placeholder="HH:MM"
				v-model="end_disassembly"
				title="Confirmez l'heure de fin du démontage souhaitée"
				subtitle="L'heure indiquée est celle que nous vous proposons"
			></question>

			<question
				id="set_in"
				type="phone"
				v-model="set_in"
				mask="##:##"
				placeholder="HH:MM"
				title="Temps de mise"
				subtitle="De quel temps avez vous besoin pour effectuer la mise avant chaque représentation ?"
				description="Le temps indiqué est celui que nous vous proposons"
			></question>

			<question
				id="set_out"
				type="phone"
				v-model="set_out"
				mask="##:##"
				placeholder="HH:MM"
				title="Temps de rangement"
				subtitle="De quel temps avez vous besoin après chaque représentation ?"
				description="Le temps indiqué est celui que nous vous proposons"
			></question>

			<question
				id="team_members_number"
				type="MultipleChoice"
				required="true"
				v-model="team_members_number"
				title="Confirmez le nombre de personnes composant votre groupe (équipe et invités)"
				nextStepOnAnswer="true"
				:options="[
					{
						label: 'Je viens seul-e',
						value: '0',
					},
					{
						label: 'Avec 1 personne',
						value: '1',
					},
					{
						label: 'Avec 2 personnes',
						value: '2',
					},
					{
						label: 'Avec 3 personnes',
						value: '3',
					},
					{
						label: 'Avec 4 personnes',
						value: '4',
					},
					{
						label: 'Avec 5 personnes',
						value: '5',
					},
					{
						label: 'Avec 6 personnes',
						value: '6',
					},
					{
						label: 'Avec 7 personnes',
						value: '7',
					},
					{
						label: 'Avec 8 personnes',
						value: '8',
					},
				]"
			></question>
			<question
				id="team_members"
				type="LongText"
				v-model="team_members"
				v-if="team_members_number > 0"
				title="Confirmez les noms des personnes qui vous accompagneront"
				description="Indiquez une seule personne par ligne (prénom et nom)"
			></question>
			<question
				v-else
				id="team_members_off"
				type="sectionbreak"
				title="Prenez le temps de nous informer si il devait y avoir des changements"
				subtitle="Envoyez nous un email à coordination@festival-gavarnie.com."
			></question>

			<question
				id="transport_type"
				type="MultipleChoice"
				required="true"
				v-model="transport_type"
				title="Confirmez votre mode de transport"
				nextStepOnAnswer="true"
				:options="[
					{
						label: 'Voiture',
						value: 'car',
					},
					{
						label: 'Avion',
						value: 'plane',
					},
					{
						label: 'Train',
						value: 'train',
					},
					{
						label: 'Cheval',
						value: 'horse',
					},
					{
						label: 'Je n\'ai pas encore de solution',
						value: 'no_solution',
					},
				]"
				:jump="{
					car: 'car_number',
					plane: 'plane_number',
					train: 'train_number',
					horse: 'horse',
					no_solution: 'no_solution',
				}"
			></question>

			<question
				id="horse"
				type="MultipleChoice"
				required="true"
				v-model="horse"
				title="Difficile de nourrir votre cheval sur la période..."
				subtitle="On vous propose de venir autrement ?"
				nextStepOnAnswer="true"
				:options="[
					{
						label: 'Voiture',
						value: 'car',
					},
					{
						label: 'Avion',
						value: 'plane',
					},
					{
						label: 'Train',
						value: 'train',
					},
					{
						label: 'Je n\'ai pas encore de solution',
						value: 'no_solution',
					},
				]"
				:jump="{
					car: 'car_number',
					plane: 'plane_number',
					train: 'train_number',
					no_solution: 'no_solution',
				}"
			></question>

			<question
				id="no_solution"
				type="MultipleChoice"
				required="true"
				v-model="horse"
				title="On peut va trouver une solution !"
				subtitle="Envoyez nous un email à coordination@festival-gavarnie.com."
				nextStepOnAnswer="true"
				:options="[
					{
						label: 'Ok !',
						value: 'ok',
					},
				]"
				:jump="{
					ok: is_sleeping
						? 'is_sleeping_change'
						: is_eating
						? 'intro_breakfast'
						: 'various_informations',
				}"
			></question>

			<question
				id="plane_number"
				type="text"
				required="true"
				title="Précisez le numéro de l'avion"
				subtitle="Pensez à transmettre vos billets à l'adresse coordination@festival-gavarnie.com"
				v-model="plane_number"
			></question>
			<question
				id="plane_from"
				type="text"
				required="true"
				:title="'' + plane_number + ' en provenance de...'"
				v-model="plane_from"
				placeholder="Vérone"
			></question>
			<question
				id="plane_airport"
				type="text"
				required="true"
				title="...et à destination de..."
				v-model="plane_airport"
				placeholder="Lourdes"
			></question>
			<question
				id="plane_hour"
				type="phone"
				required="true"
				v-model="plane_hour"
				mask="##:##"
				title="Confirmez l'heure d'arrivée"
			></question>
			<question
				id="plane_need_runner"
				type="MultipleChoice"
				required="true"
				v-model="plane_need_runner"
				title="Avez-vous besoin que l'on vienne vous chercher à l'aeroport ?"
				nextStepOnAnswer="true"
				:options="[
					{
						label: 'OUI',
						value: 'OUI',
					},
					{
						label: 'NON',
						value: 'NON',
					},
				]"
				:jump="{
					OUI: is_sleeping
						? 'is_sleeping_change'
						: is_eating
						? 'intro_breakfast'
						: 'various_informations',
					NON: is_sleeping
						? 'is_sleeping_change'
						: is_eating
						? 'intro_breakfast'
						: 'various_informations',
				}"
			></question>

			<question
				id="train_number"
				type="text"
				required="true"
				title="Précisez le numéro du train"
				subtitle="Pensez à transmettre vos billets à l'adresse coordination@festival-gavarnie.com"
				v-model="train_number"
			></question>
			<question
				id="train_from"
				type="text"
				required="true"
				:title="'' + train_number + ' en provenance de...'"
				v-model="train_from"
				placeholder="Vérone"
			></question>
			<question
				id="train_station"
				type="text"
				required="true"
				title="...et à destination de..."
				v-model="train_station"
				placeholder="Lourdes"
			></question>
			<question
				id="train_hour"
				type="phone"
				required="true"
				v-model="train_hour"
				mask="##:##"
				title="Confirmez l'heure d'arrivée"
			></question>
			<question
				id="train_need_runner"
				type="MultipleChoice"
				required="true"
				v-model="train_need_runner"
				title="Avez-vous besoin que l'on vienne vous chercher à la gare ?"
				nextStepOnAnswer="true"
				:options="[
					{
						label: 'OUI',
						value: 'OUI',
					},
					{
						label: 'NON',
						value: 'NON',
					},
				]"
				:jump="{
					OUI: is_sleeping
						? 'is_sleeping_change'
						: is_eating
						? 'intro_breakfast'
						: 'various_informations',
					NON: is_sleeping
						? 'is_sleeping_change'
						: is_eating
						? 'intro_breakfast'
						: 'various_informations',
				}"
			></question>

			<question
				id="car_number"
				type="number"
				required="true"
				title="Précisez le nombre de véhicules légers (voitures) "
				subtitle="Pensez à transmettre vos jusitificatifs à l'adresse coordination@festival-gavarnie.com"
				v-model="car_number"
			></question>
			<question
				id="caravan_number"
				type="number"
				required="true"
				title="Précisez le nombre de véhicules de type caravanes et remorques "
				subtitle="Pensez à transmettre vos jusitificatifs à l'adresse coordination@festival-gavarnie.com"
				v-model="caravan_number"
			></question>
			<question
				id="utility_number"
				type="number"
				required="true"
				title="Précisez le nombre de véhicules utilitaires (12m3 à 20m3)"
				subtitle="Pensez à transmettre vos jusitificatifs à l'adresse coordination@festival-gavarnie.com"
				v-model="utility_number"
			></question>
			<question
				id="vehicule_information"
				type="LongText"
				required="false"
				v-model="vehicule_information"
				title="Indiquez toutes les plaques d'immatriculations"
			></question>

			<question
				id="is_sleeping_change"
				type="MultipleChoice"
				required="true"
				v-model="is_sleeping_change"
				title="Votre hébergement sur le festival"
				:subtitle="getTitleSleeping() + ' Est-ce toujours le cas ?'"
				nextStepOnAnswer="true"
				:options="[
					{
						label: 'OUI',
						value: is_sleeping ? 'OUI' : 'NON',
					},
					{
						label: 'NON',
						value: is_sleeping ? 'NON' : 'OUI',
					},
				]"
				:jump="{
					OUI: 'lifestyle',
					NON: is_eating ? 'intro_breakfast' : 'various_informations',
				}"
			></question>

			<question
				v-if="this.individual_bedroom === 'false' || !this.individual_bedroom"
				id="lifestyle"
				type="MultipleChoice"
				title="Vous êtes plutôt..."
				subtitle="Puisque vous dormirez dans une chambre commune, nous essayerons de vous installer avec des personnes ayant le même rythme."
				v-model="lifestyle"
				:options="[
					{
						label: 'Un animal nocturne',
						value: 'Animal nocturne',
					},
					{
						label: 'Le rouge-gorge du matin',
						value: 'Rouge-gorge',
					},
					{
						label: 'Ni l\'un ni l\'autre',
						value: 'Caméléon',
					},
				]"
			></question>
			<question
				v-else
				type="sectionbreak"
				id="lifestyle"
				title="Vous dormirez seul-e ou avec votre équipe !"
				subtitle="Si vous êtes un-e artiste de Roméo et Juliette vous serez avec votre partenaire de chambrée habituel."
			></question>

			<question
				type="sectionbreak"
				id="intro_breakfast"
				title="Vos repas sur le festival"
				subtitle="Dans un soucis d'économie budgétaire et afin de nous permettre d'ajuster nos stocks tout en essayant composer avec les habitudes alimentaires de chacun-e, merci de répondre aux questions qui suivent 😊"
			></question>
			<question
				id="breakfast_number"
				type="Matrix"
				required="true"
				title="Précisez le nombre de petits déjeuners à prévoir par jour"
				subtitle="Vous pourrez nous indiquer la veille à midi, si la quantité doit être ajustée. Ce formulaire ne permet pas de modifier les quantité à moins de 2 jours."
				v-model="breakfast_number"
				:rows="getDays(true)"
				:columns="getTeam()"
			></question>
			<question
				id="breakfast_coffee"
				type="MultipleChoice"
				required="true"
				v-model="breakfast_coffee"
				nextStepOnAnswer="true"
				title="Combien de personnes boivent du café ?"
				:options="getPersonn()"
			></question>
			<question
				id="breakfast_tea"
				type="MultipleChoice"
				required="true"
				v-model="breakfast_tea"
				nextStepOnAnswer="true"
				title="Combien de personnes boivent du thé ?"
				:options="getPersonn()"
			></question>

			<question
				id="breakfast_milk"
				type="MultipleChoice"
				required="true"
				v-model="breakfast_milk"
				nextStepOnAnswer="true"
				title="Combien de personnes boivent du lait ?"
				:options="getPersonn()"
			></question>

			<question
				id="breakfast_other"
				type="MultipleChoice"
				required="true"
				v-model="breakfast_other"
				nextStepOnAnswer="true"
				title="Combien de personnes boivent autre chose ?"
				:options="getPersonn()"
			></question>

			<question
				id="breakfast_other_details"
				type="LongText"
				required="false"
				v-model="breakfast_other_details"
				v-if="breakfast_other > 0"
				title="Préciser les boissons chaudes en question"
			></question>
			<question v-else id="other_details_off" type="sectionbreak" title="C'est noté !"></question>

			<question
				id="breakfast_fruits"
				type="MultipleChoice"
				required="true"
				v-model="breakfast_fruits"
				nextStepOnAnswer="true"
				title="Combien de personnes mangent des fruits ?"
				:options="getPersonn()"
			></question>
			<question
				id="breakfast_bread"
				type="MultipleChoice"
				required="true"
				v-model="breakfast_bread"
				nextStepOnAnswer="true"
				title="Combien de personnes mangent du pain ?"
				:options="getPersonn()"
			></question>
			<question
				id="breakfast_juice"
				type="MultipleChoice"
				required="true"
				v-model="breakfast_juice"
				nextStepOnAnswer="true"
				title="Combien de personnes boivent du jus de fruits ?"
				:options="getPersonn()"
			></question>

			<question
				id="breakfast_food_other"
				type="LongText"
				v-model="breakfast_food_other"
				title="Est-ce qu'il y a autre chose qui vous ferait plaisir pour bien débuter la journée ?"
				subtitle="Nous nous efforcerons dans la mesure du possible de répondre à votre demande 😊"
			></question>

			<question
				id="lunch_number"
				type="Matrix"
				required="true"
				title="Précisez le nombre de déjeuners à prévoir par jour (équipe uniquement)"
				subtitle="Vous pourrez nous indiquer la veille à midi si la quantité doit être ajustée. Ce formulaire ne permet pas de modifier les quantité à moins de 2 jours."
				v-model="lunch_number"
				:rows="getDays(true)"
				:columns="getTeam()"
			></question>
			<question
				id="extra_lunch_number"
				type="Matrix"
				required="true"
				title="Devons nous prévoir déjeuners supplémentaires (invités) ?"
				subtitle="Vous pourrez nous indiquer la veille à midi, si la quantité doit être ajustée. Le tarif forfaitaire du repas supplémentaire est de 10€."
				v-model="extra_lunch_number"
				:rows="getDays(true)"
				:columns="getExtraMeal()"
			></question>

			<question
				id="dinner_number"
				type="Matrix"
				required="true"
				title="Précisez le nombre de dîners à prévoir par jour (équipe uniquement)"
				subtitle="Vous pourrez nous indiquer la veille à midi si la quantité doit être ajustée. Ce formulaire ne permet pas de modifier les quantité à moins de 2 jours."
				v-model="dinner_number"
				:rows="getDays(true)"
				:columns="getTeam()"
			></question>
			<question
				id="extra_dinner_number"
				type="Matrix"
				required="true"
				title="Devons nous prévoir des dîners supplémentaires (invités) ?"
				subtitle="Vous pourrez nous indiquer la veille à midi, si la quantité doit être ajustée. Le tarif forfaitaire du repas supplémentaire est de 10€."
				v-model="extra_dinner_number"
				:rows="getDays(true)"
				:columns="getExtraMeal()"
			></question>

			<question
				v-if="hasExtraMeal()"
				id="guest_members"
				type="LongText"
				v-model="guest_members"
				title="Confirmez les noms de vos invités"
				description="Indiquez une seule personne par ligne (prénom et nom)"
			></question>
			<question
				v-else
				id="guest_members_off"
				type="sectionbreak"
				title="Prenez le temps de nous informer si il devait y avoir des changements."
				subtitle="Envoyez nous un email à coordination@festival-gavarnie.com."
			></question>

			<question
				id="feeding"
				type="Matrix"
				required="true"
				title="Précisez votre régime alimentaire et celui des personnes qui vous accompagneront (équipe et invités)"
				v-model="feeding"
				:rows="getTeamReversed()"
				:columns="getFeeds()"
			></question>
			<question
				id="allergy"
				type="Matrix"
				title="Précisez s'il existe des allergies particulières"
				multiple="true"
				v-model="allergy"
				:columns="getTeamReversed()"
				:rows="getAllergies()"
			></question>
			<question
				id="favorite_meal"
				type="text"
				title="Quel est votre plat préféré ?"
				v-model="favorite_meal"
				placeholder="Les pâtes au pesto"
			></question>

			<question
				id="various_informations"
				type="text"
				title="Est-ce que vous souhaitez porter à notre connaissance d'autres informations ?"
				v-model="various_informations"
			></question>

			<!-- Custom content for the Complete/Submit screen slots in the FlowForm component -->
			<!-- We've overriden the default "complete" slot content -->
			<template v-slot:complete>
				<div class="f-section-wrap">
					<p>
						<span class="fh2">Thank you. 🙏</span>
						<span class="f-section-text">
							Merci pour toutes ces réponses ! Vous recevrez sous peu un récapitulatif et une
							feuille de route. Vous pouvez revoir vos réponses ou appuyer sur "Envoyer".
						</span>
					</p>
					<p class="f-description">
						Ps: Aucune donnée n'est transmise en dehors de l'Association du Festival de Gavarnie.
					</p>
				</div>
			</template>

			<!-- We've overriden the default "completeButton" slot content -->
			<template v-slot:completeButton>
				<div class="f-submit" v-if="!submitted">
					<button
						class="o-btn-action"
						ref="button"
						type="submit"
						href="#"
						v-on:click.prevent="onSendData()"
						aria-label="Appuyer pour envoyer"
					>
						<span>{{ language.submitText }}</span>
					</button>
					<a
						class="f-enter-desc"
						href="#"
						v-on:click.prevent="onSendData()"
						v-html="language.formatString(language.pressEnter)"
					>
					</a>
				</div>

				<p class="text-success" v-if="submitted">Envoyé!</p>
			</template>
		</flow-form>
	</div>
</template>

<script>
// Import necessary components and classes
import FlowForm from '../../src/components/FlowForm.vue';
import Question from '../../src/components/Question.vue';
/*import QuestionModel, {
  QuestionType,
  ChoiceOption,
  LinkOption,
} from "../../src/models/QuestionModel";*/
import LanguageModel from '../../src/models/LanguageModel';
import { MatrixRow, MatrixColumn } from '../../src/models/QuestionModel';
import moment, { isDate } from 'moment';
// If using the npm package, use the following line instead of the ones above.
// import FlowForm, { Question, QuestionModel, QuestionType, ChoiceOption, LanguageModel } from '@ditdot-dev/vue-flow-form'

export default {
	name: 'main',

	components: {
		FlowForm,
		Question,
	},

	data() {
		return {
			submitted: false,
			completed: false,
			endpoint: 'https://gavarnie.netlib.re/api',
			//endpoint: 'http://localhost:8001/api',
			language: new LanguageModel({
				enterKey: 'Entrée',
				shiftKey: 'Shift',
				ok: 'OK',
				continue: 'Continuer',
				skip: 'Passer',
				pressEnter: 'Appuyer sur :enterKey',
				multipleChoiceHelpText: 'Choisisez 1 ou plusieurs options',
				multipleChoiceHelpTextSingle: 'Choose only one answer',
				otherPrompt: 'Autres',
				placeholder: 'Tapez votre réponse ici...',
				submitText: 'Envoyer',
				longtextHelpText: ':shiftKey + :enterKey pour faire un saut de ligne',
				prev: 'Préc',
				next: 'Suiv',
				percentCompleted: ':percent% terminé',
				invalidPrompt: 'Veuillez remplir ce champs correctement',
				thankYouText: 'Merci!',
				successText: 'Vos réponses ont correctement été envoyées.',
				ariaOk: 'Appuyer pour continuer',
				ariaRequired: 'Cette étape est requise',
				ariaPrev: 'Etape précédente',
				ariaNext: 'Etape suivante',
				ariaSubmitText: 'Appuyer pour envoyer',
				ariaMultipleChoice: 'Appuyer sur :letter pour selectionner',
				ariaTypeAnswer: 'Tapez votre réponse ici',
				errorAllowedFileTypes: 'Format de fichier invalide. Types autorisés : :fileTypes.',
				errorMaxFileSize: 'Fichier(s) trop grand(s). Taille maximale : :size.',
				errorMinFiles: 'Il manque des fichiers. Nombre de fichiers attendus : :min.',
				errorMaxFiles: 'Il y a trop de fichier . Nombre de fichier maximum : :max.',
			}),
			from: '',
			first_name: '',
			name: '',
			phone: '',
			email: '',
			start_date: '',
			end_date: '',
			has_break: false,
			start_break: '',
			end_break: '',
			is_artist: false,
			needs_sound: '',
			needs_light: '',
			needs_stage: '',
			needs_various: '',
			dates: '',
			dates_validation: {},
			dates_provided: {},
			assembly_date: '',
			start_assembly: '',
			end_assembly: '',
			set_in: '',
			set_out: '',
			disassembly_date: '',
			start_disassembly: '',
			end_disassembly: '',
			has_team: false,
			team_members: '',
			team_members_number: 0,
			transport_type: '',
			horse: '',

			no_solution: '',
			train_from: '',
			train_hour: '',
			train_number: '',
			train_station: '',
			train_need_runner: 'NON',
			plane_from: '',
			plane_hour: '',
			plane_number: '',
			plane_airport: '',
			plane_need_runner: 'NON',
			utility_number: 0,
			caravan_number: 0,
			car_number: 0,
			vehicule_information: '',
			datetime_arrival: '',
			datetime_departure: '',
			is_sleeping: true,
			is_sleeping_change: false,
			individual_bedroom: false,
			lifestyle: '',
			is_eating: true,

			breakfast_number: {},
			breakfast_coffee: 0,
			breakfast_tea: 0,
			breakfast_milk: 0,
			breakfast_other: 0,
			breakfast_other_details: '',
			breakfast_fruits: 0,
			breakfast_juice: 0,
			breakfast_bread: 0,
			breakfast_food_other: '',

			lunch_number: {},
			extra_lunch_number: {},
			guest_members: '',
			feeding: {},
			allergy: {},
			dinner_number: {},
			extra_dinner_number: {},
			favorite_meal: '',
			various_informations: '',
			updated_date: '',
		};
	},

	mounted() {
		let paramString = window.location.search.split('?')[1];
		this.email = decodeURIComponent(paramString);
		document.addEventListener('keyup', this.onKeyListener);
		if (typeof paramString == 'undefined') {
			return;
		}
		let url = this.endpoint + '/data/' + paramString;
		fetch(url, {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
			},
		}).then((response) => {
			response.json().then((json) => {
				this.email = decodeURIComponent(paramString);
				if (json != null) {
					Object.assign(this, json || {});
				}
			});
		});
	},

	beforeUnmount() {
		document.removeEventListener('keyup', this.onKeyListener);
	},
	computed: {
		team_members_name: function () {
			return this.team_members.split(/\r?\n/);
		},
		guest_members_name: function () {
			return this.guest_members.split(/\r?\n/);
		},
		dates_list: function () {
			return this.dates.split(/\r?\n/);
		},
		fullname: function () {
			let formatted = this.first_name + ' ' + this.name;
			return formatted != ' ' ? formatted : 'Vous';
		},
	},
	methods: {
		jumpToArtist() {
			return this.is_artist
				? 'intro_artist'
				: this.has_team
				? 'team_members_number'
				: 'transport_type';
		},
		getDates() {
			let options = [];
			let id = 0;
			while (id <= this.dates_list.length) {
				options.push({
					value: this.dates_list[id],
					id: this.dates_list[id],
					label: this.dates_list[id],
				});
				id++;
			}
		},
		getTeam() {
			let options = [];
			let id = 0;
			if (this.team_members_number > 0) {
				options.push(
					new MatrixRow({
						value: 0,
						id: 0,
						label: 'Aucun',
					}),
				);
				while (id <= this.team_members_number) {
					options.push(
						new MatrixRow({
							value: id + 1,
							id: id + 1,
							label: id + 1,
						}),
					);
					id++;
				}
			} else {
				options.push(
					new MatrixRow({
						value: 0,
						id: 0,
						label: 'Aucun',
					}),
				);
				options.push(
					new MatrixRow({
						value: 1,
						id: 1,
						label: 'Vous même',
					}),
				);
			}
			return options;
		},
		getFeeds() {
			let options = [
				new MatrixRow({
					value: 'Végétarien',
					id: 'Végétarien',
					label: 'Végétarien',
				}),
				new MatrixRow({
					value: 'Vegan',
					id: 'Vegan',
					label: 'Vegan',
				}),
				new MatrixRow({
					value: 'Halal',
					id: 'Halal',
					label: 'Halal',
				}),
				new MatrixRow({
					value: 'Kasher',
					id: 'Kasher',
					label: 'Kasher',
				}),
				new MatrixRow({
					value: 'Sans préférence',
					id: 'Sans préférence',
					label: 'Sans préférence',
				}),
			];

			return options;
		},
		getExtraMeal() {
			return [
				{
					value: '0',
					id: '0',
					label: 'Aucun',
				},
				{
					value: '1',
					id: '1',
					label: '+1',
				},
				{
					value: '2',
					id: '2',
					label: '+2',
				},
				{
					value: '3',
					id: '3',
					label: '+3',
				},
				{
					value: '4',
					id: '4',
					label: '+4',
				},
				{
					value: '5',
					id: '5',
					label: '+5',
				},
			];
		},
		getAllergies() {
			let options = [
				new MatrixRow({
					value: 'Gluten',
					id: 'Gluten',
					label: 'Gluten',
				}),
				new MatrixRow({
					value: 'Arachide',
					id: 'Arachide',
					label: 'Arachide',
				}),

				new MatrixRow({
					value: 'Lait',
					id: 'Lait',
					label: 'Lait',
				}),
				new MatrixRow({
					value: 'Oeuf',
					id: 'Oeuf',
					label: 'Oeuf',
				}),
				new MatrixRow({
					value: 'Fruits à coque',
					id: 'Fruits à coque',
					label: 'Fruits à coque',
				}),
				new MatrixRow({
					value: 'Mollusques',
					id: 'Mollusques',
					label: 'Mollusques',
				}),
				new MatrixRow({
					value: 'Fruits de mer',
					id: 'Fruits de mer',
					label: 'Fruits de mer',
				}),
				new MatrixRow({
					value: 'Moutarde',
					id: 'Moutarde',
					label: 'Moutarde',
				}),
				new MatrixRow({
					value: 'Poissons',
					id: 'Poissons',
					label: 'Poissons',
				}),
				new MatrixRow({
					value: 'Céleri',
					id: 'Céleri',
					label: 'Céleri',
				}),
				new MatrixRow({
					value: 'Soja',
					id: 'Soja',
					label: 'Soja',
				}),
				new MatrixRow({
					value: 'Sulfites',
					id: 'Sulfites',
					label: 'Sulfites',
				}),
				new MatrixRow({
					value: 'Sésame',
					id: 'Sésame',
					label: 'Sésame',
				}),
				new MatrixRow({
					value: 'Lupin',
					id: 'Lupin',
					label: 'Lupin',
				}),
			];

			return options;
		},
		hasExtraMeal() {
			let out = 0;

			const datesA = Object.keys(this.extra_dinner_number);
			const datesB = Object.keys(this.extra_lunch_number);

			datesA.forEach((date) => {
				out += parseInt(this.extra_dinner_number[date]);
			});
			datesB.forEach((date) => {
				out += parseInt(this.extra_lunch_number[date]);
			});

			return out > 0 ? true : false;
		},

		getTeamReversed() {
			let options = [];
			let id = 0;
			let memberName;
			let label;
			if (this.team_members_number > 0) {
				while (id <= this.team_members_number) {
					memberName =
						typeof this.team_members_name[id - 1] == 'undefined' ||
						this.team_members_name[id - 1] == ''
							? 'Accompagnant-e N°' + id
							: this.team_members_name[id - 1];
					label = id == 0 ? this.fullname : memberName;
					options.push({
						value: label,
						id: label,
						label: label,
					});
					id++;
				}
			} else {
				options.push({
					value: this.fullname,
					id: this.fullname,
					label: this.fullname,
				});
			}

			if (this.hasExtraMeal()) {
				id = 0;

				while (id <= this.guest_members_name.length) {
					label =
						typeof this.guest_members_name[id] == 'undefined' || this.guest_members_name[id] == ''
							? 'Invité-e N°' + (id + 1)
							: this.guest_members_name[id];

					options.push({
						value: label,
						id: label,
						label: label,
					});
					id++;
				}
			}

			return options;
		},
		getDays(exclude) {
			let excluded = typeof exclude != 'undefined';
			let options = [];
			let startDate;
			let endDate;
			if (!isDate(this.start_date)) {
				if (this.start_date.length != 10) {
					return [];
				}
				startDate = moment(this.start_date, 'DD/MM/YYYY');
			} else {
				startDate = moment(this.start_date);
			}
			if (!isDate(this.end_date)) {
				if (this.end_date.length != 10) {
					return [];
				}
				endDate = moment(this.end_date, 'DD/MM/YYYY');
			} else {
				endDate = moment(this.end_date);
			}

			let finalDate = startDate;
			let lastDate = endDate;
			let label;
			let dateLimit = moment().add(2, 'days');

			if (finalDate != lastDate) {
				while (finalDate < lastDate) {
					label = finalDate.format('DD/MM/YYYY');
					if (!this.isInsideBreak(finalDate)) {
						options.push(
							new MatrixColumn({
								value: label,
								id: label,
								label: label,
								disabled: excluded && finalDate <= dateLimit,
							}),
						);
					}
					finalDate = finalDate.add(1, 'days');
				}
			}

			return options;
		},
		isBreakfastAffected() {
			return (
				this.breakfast_coffee + this.breakfast_tea + this.breakfast_milk < this.team_members_number
			);
		},
		isInsideBreak(date) {
			if (this.has_break) {
				return false;
			}
			let startBreak;
			let endBreak;

			if (!isDate(this.start_break)) {
				startBreak = moment(this.start_break, 'DD/MM/YYYY');
			} else {
				startBreak = moment(this.start_break);
			}
			if (!isDate(this.end_break)) {
				endBreak = moment(this.end_break, 'DD/MM/YYYY');
			} else {
				endBreak = moment(this.end_break);
			}

			return date >= startBreak && date <= endBreak;
		},
		getTitleSleeping() {
			return this.is_sleeping
				? "Nous avons noté que vous aviez besoin d'un hébergement."
				: "Nous avons noté que vous n'aviez pas besoin d'hébergement.";
		},
		getPersonn() {
			let options = [];
			let id = 0;
			if (this.team_members_number > 0) {
				options.push(
					new MatrixRow({
						value: 0,
						id: 0,
						label: 'Aucune',
					}),
				);

				while (id <= this.team_members_number) {
					options.push({
						value: id + 1,
						id: id + 1,
						label: id + 1 + ' personne(s)',
					});

					id++;
				}
			} else {
				options.push({
					value: '0',
					id: '0',
					label: 'Aucune',
				});

				options.push({
					value: '1',
					id: '1',
					label: 'Vous même',
				});
			}
			return options;
		},

		onKeyListener($event) {
			// We've overriden the default "complete" slot so
			// we need to implement the "keyup" listener manually.

			if ($event.key === 'Enter' && this.completed && !this.submitted) {
				this.onSendData();
			}
		},

		/* eslint-disable-next-line no-unused-vars */
		onComplete(completed, questionList) {
			// This method is called whenever the "completed" status is changed.
			this.completed = completed;
		},

		/* eslint-disable-next-line no-unused-vars */
		onSubmit(questionList) {
			// This method will only be called if you don't override the
			// completeButton slot.
			this.onSendData();
		},
		onAnswer(questionAnswered) {
			// Handle answer event.
			this.updated_date = moment();
			if (this.email != '') {
				let url = this.endpoint + '/data';
				fetch(url, {
					method: 'PUT',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify(this.$data),
				}).then(() => {
					try {
						if (typeof this.extra_dinner_number == 'string') {
							this.extra_dinner_number = JSON.parse(this.extra_dinner_number);
						}
					} catch {}
					try {
						if (typeof this.extra_lunch_number == 'string') {
							this.extra_lunch_number = JSON.parse(this.extra_lunch_number);
						}
					} catch {}

					try {
						if (typeof this.breakfast_number == 'string') {
							this.breakfast_number = JSON.parse(this.breakfast_number);
						}
					} catch {}
					try {
						if (typeof this.lunch_number == 'string') {
							this.lunch_number = JSON.parse(this.lunch_number);
						}
					} catch {}
					try {
						if (typeof this.feeding == 'string') {
							this.feeding = JSON.parse(this.feeding);
						}
					} catch {}
					try {
						if (typeof this.allergy == 'string') {
							this.allergy = JSON.parse(this.allergy);
						}
					} catch {}

					try {
						if (typeof this.dinner_number == 'string') {
							this.dinner_number = JSON.parse(this.dinner_number);
						}
					} catch {}
					try {
						if (typeof this.dates_provided == 'string') {
							this.dates_provided = JSON.parse(this.dates_provided);
						}
					} catch {}
				});
			}
		},
		onSendData() {
			// Set `submitted` to true so the form knows not to allow back/forward
			// navigation anymore.
			this.$refs.flowform.submitted = true;

			this.submitted = true;

			/* eslint-disable-next-line no-unused-vars */
			// const data = this.getData();

			/*
          You can use Fetch API to send the data to your server, eg.:

          fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
        */

			let url = this.endpoint + '/data';
			fetch(url, {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(this.$data),
			});
		},

		getData() {
			const data = {
				questions: [],
				answers: [],
			};

			if (typeof this.$refs.flowform.questionList === 'undefined') {
				return data;
			}
			this.$refs.flowform.questionList.forEach((question) => {
				if (question.title) {
					let answer = question.answer;
					if (Array.isArray(answer)) {
						answer = answer.join(', ');
					}

					data.questions.push(question.title);
					data.answers.push(answer);
				}
			});

			return data;
		},
	},
};
</script>

<style lang="css">
@import '../../src/assets/css/themes/theme-minimal.css';
/* If using the npm package, use the following lines instead of the one above */
/* @import '~@ditdot-dev/vue-flow-form/dist/vue-flow-form.css'; */
/* @import '~@ditdot-dev/vue-flow-form/dist/vue-flow-form.theme-minimal.css'; */
</style>
