<template>
	<div>
		<header class="vff-header">
			<div class="f-container">
				<h1 class="f-logo">FESTIVAL DE GAVARNIE - EDITION 2022</h1>
			</div>
		</header>

		<flow-form
			ref="flowform"
			v-on:complete="onComplete"
			v-on:submit="onSubmit"
			v-on:answer="onAnswer"
			v-bind:language="language"
			v-bind:standalone="standalone"
		>
			<question
				type="sectionbreak"
				id="intro"
				title="Bonjour !"
				subtitle="En préparation de votre venue, notre petite équipe restauration serait ravi de savoir si vous mangerez en notre compagnie 😊"
			></question>
			<question
				id="email"
				type="email"
				required="true"
				v-model="email"
				placeholder="romeo@montaigu.com"
				title="Confirmez votre email principal"
				subtitle="L'email avec lequel vous avez résevé vos places"
			></question>
			<question
				type="sectionbreak"
				id="pause"
				title="Nous tentons de vous retrouver dans notre base de donnée"
			></question>
			<question
				id="first_name"
				type="text"
				required="true"
				title="Vous vous appelez..."
				v-model="first_name"
				placeholder="Roméo"
			></question>
			<question
				id="name"
				type="text"
				required="true"
				:title="'' + first_name + ' de la famille des...'"
				v-model="name"
				placeholder="Montaigu"
			></question>

			<question
				id="team_members_number"
				type="number"
				v-model="team_members_number"
				title="Confirmez le nombre de personnes qui vous accompagneront"
			></question>
			<question
				id="team_members"
				type="LongText"
				v-model="team_members"
				v-if="team_members_number > 0"
				title="Ainsi que leur prénom"
				description="Indiquez une seule personne par ligne"
			></question>
			<question
				v-else
				id="team_members_off"
				type="sectionbreak"
				title="Prenez le temps de nous informer si il devait y avoir des changements."
				subtitle="A tout moment, vous pourrez revenir sur ce formulaire pour en modifier les informations."
			></question>

			<question
				id="date"
				type="MultipleChoice"
				required="true"
				v-model="date"
				nextStepOnAnswer="true"
				title="Vous venez nous voir le..."
				:options="getDaysOptions()"
			></question>

			<question
				id="time"
				type="MultipleChoice"
				required="true"
				v-model="time"
				nextStepOnAnswer="true"
				multiple="true"
				title="A partir de quelle heure pensez vous arriver ?"
				:options="[
					{
						label:
							'En début d\'après-midi, j\'aimerai profier des événements dans la nature (11h ou 14h selon les jours)',
						value: '14h',
					},
					{
						label: 'En fin d\'après-midi pour la programmation de Variantes (16h)',
						value: '16h',
					},
					{
						label: 'Pour prendre l\'apérétif au village (18h)',
						value: '18h',
					},
					{
						label: 'Pour prendre le repas du soir et profiter de Roméo et Juliette (19h)',
						value: '19h',
					},
					{
						label: 'Pour le spectacle (20h)',
						value: '20h',
					},
				]"
			></question>

			<question
				id="food"
				type="Matrix"
				multiple="true"
				title="Au menu de cette année, on vous propose en repas..."
				v-model="food"
				:rows="getMenu()"
				:columns="getTeamReversed()"
			></question>

			<question
				id="food_share"
				type="Matrix"
				multiple="true"
				title="Ou alors des plats à partager..."
				v-model="food_share"
				:rows="getMenuShare()"
				:columns="getTeamReversed()"
			></question>
			<question
				id="desserts"
				type="Matrix"
				multiple="true"
				title="Et aussi des désserts gourmands..."
				v-model="desserts"
				:rows="getDesserts()"
				:columns="getTeamReversed()"
			></question>
			<question
				id="drinks"
				type="Matrix"
				multiple="true"
				title="Enfin pour accompagner tout cela, vous seriez tenté par..."
				v-model="drinks"
				:rows="getDrinks()"
				:columns="getTeamReversed()"
			></question>
			<question
				id="allergy"
				type="Matrix"
				title="Précisez s'il existe des allergies particulières"
				multiple="true"
				v-model="allergy"
				:columns="getTeamReversed()"
				:rows="getAllergies()"
			></question>

			<question
				id="various_informations"
				type="text"
				title="Est-ce que vous souhaitez porter à notre connaissance d'autres informations ?"
				v-model="various_informations"
			></question>

			<!-- Custom content for the Complete/Submit screen slots in the FlowForm component -->
			<!-- We've overriden the default "complete" slot content -->
			<template v-slot:complete>
				<div class="f-section-wrap">
					<p>
						<span class="fh2">Thank you. 🙏</span>
						<span class="f-section-text">
							Merci pour toutes ces réponses ! Vous recevrez sous peu un récapitulatif et une
							feuille de route. Vous pouvez revoir vos réponses ou appuyer sur "Envoyer".
						</span>
					</p>
					<p class="f-description">
						Ps: Aucune donnée n'est transmise en dehors de l'Association du Festival de Gavarnie.
					</p>
				</div>
			</template>

			<!-- We've overriden the default "completeButton" slot content -->
			<template v-slot:completeButton>
				<div class="f-submit" v-if="!submitted">
					<button
						class="o-btn-action"
						ref="button"
						type="submit"
						href="#"
						v-on:click.prevent="onSendData()"
						aria-label="Appuyer pour envoyer"
					>
						<span>{{ language.submitText }}</span>
					</button>
					<a
						class="f-enter-desc"
						href="#"
						v-on:click.prevent="onSendData()"
						v-html="language.formatString(language.pressEnter)"
					>
					</a>
				</div>

				<p class="text-success" v-if="submitted">Envoyé!</p>
			</template>
		</flow-form>
	</div>
</template>

<script>
// Import necessary components and classes
import FlowForm from '../../src/components/FlowForm.vue';
import Question from '../../src/components/Question.vue';
/*import QuestionModel, {
  QuestionType,
  ChoiceOption,
  LinkOption,
} from "../../src/models/QuestionModel";*/
import LanguageModel from '../../src/models/LanguageModel';
import { MatrixRow, MatrixColumn } from '../../src/models/QuestionModel';
import moment, { isDate } from 'moment';
// If using the npm package, use the following line instead of the ones above.
// import FlowForm, { Question, QuestionModel, QuestionType, ChoiceOption, LanguageModel } from '@ditdot-dev/vue-flow-form'

export default {
	name: 'main',

	components: {
		FlowForm,
		Question,
	},

	data() {
		return {
			submitted: false,
			completed: false,
			firstQuestion: true,
			standalone: false,
			//endpoint: 'https://gavarnie.netlib.re/api',
			endpoint: 'http://localhost:8001/api',
			language: new LanguageModel({
				enterKey: 'Entrée',
				shiftKey: 'Shift',
				ok: 'OK',
				continue: 'Continuer',
				skip: 'Passer',
				pressEnter: 'Appuyer sur :enterKey',
				multipleChoiceHelpText: 'Choisisez 1 ou plusieurs options',
				multipleChoiceHelpTextSingle: 'Choose only one answer',
				otherPrompt: 'Autres',
				placeholder: 'Tapez votre réponse ici...',
				submitText: 'Envoyer',
				longtextHelpText: ':shiftKey + :enterKey pour faire un saut de ligne',
				prev: 'Préc',
				next: 'Suiv',
				percentCompleted: ':percent% terminé',
				invalidPrompt: 'Veuillez remplir ce champs correctement',
				thankYouText: 'Merci!',
				successText: 'Vos réponses ont correctement été envoyées.',
				ariaOk: 'Appuyer pour continuer',
				ariaRequired: 'Cette étape est requise',
				ariaPrev: 'Etape précédente',
				ariaNext: 'Etape suivante',
				ariaSubmitText: 'Appuyer pour envoyer',
				ariaMultipleChoice: 'Appuyer sur :letter pour selectionner',
				ariaTypeAnswer: 'Tapez votre réponse ici',
				errorAllowedFileTypes: 'Format de fichier invalide. Types autorisés : :fileTypes.',
				errorMaxFileSize: 'Fichier(s) trop grand(s). Taille maximale : :size.',
				errorMinFiles: 'Il manque des fichiers. Nombre de fichiers attendus : :min.',
				errorMaxFiles: 'Il y a trop de fichier . Nombre de fichier maximum : :max.',
			}),
			first_name: '',
			name: '',
			email: '',
			date: '',
			time: '',
			team_members: '',
			team_members_number: 1,

			food: {},
			food_share: {},
			desserts: {},
			drinks: {},

			allergy: {},

			various_informations: '',
		};
	},

	mounted() {
		let paramString = window.location.search.split('?')[1];
		document.addEventListener('keyup', this.onKeyListener);
		this.standalone = typeof paramString != 'undefined';
	},

	beforeUnmount() {
		document.removeEventListener('keyup', this.onKeyListener);
	},
	computed: {
		team_members_name: function () {
			return this.team_members.split(/\r?\n/);
		},

		fullname: function () {
			let formatted = this.first_name + ' ' + this.name;
			return formatted != ' ' ? formatted : 'Vous même';
		},
	},
	methods: {
		getTeam() {
			let options = [];
			let id = 0;
			if (this.team_members_number > 0) {
				options.push({
					value: 0,
					id: 0,
					label: 'Aucun',
				});

				while (id <= this.team_members_number) {
					options.push({
						value: id + 1,
						id: id + 1,
						label: id + 1,
					});
					id++;
				}
			} else {
				options.push({
					value: 0,
					id: 0,
					label: 'Aucun',
				});
				options.push({
					value: 1,
					id: 1,
					label: '1',
				});
			}
			return options;
		},
		getMenu() {
			return [
				{
					value: 'Rien merci!',
					id: 'Rien merci!',
					label: 'Rien merci!',
				},
				{
					value: 'Garbure',
					id: 'Garbure',
					label: 'Garbure',
				},
				{
					value: 'Chorba',
					id: 'Chorba',
					label: 'Chorba (vegan)',
				},
				{
					value: 'Salade composée',
					id: 'Salade composée',
					label: 'Salade composée (vegan)',
				},
			];
		},
		getMenuShare() {
			return [
				{
					value: 'Rien merci!',
					id: 'Rien merci!',
					label: 'Rien merci!',
				},
				{
					value: 'Tartinade',
					id: 'Tartinade',
					label: 'Tartinade (vegan)',
				},
			];
		},
		getDesserts() {
			return [
				{
					value: 'Rien merci!',
					id: 'Rien merci!',
					label: 'Rien merci!',
				},
				{
					value: 'Déssert chocolaté',
					id: 'Déssert chocolaté',
					label: 'Déssert chocolaté (vegan)',
				},
				{
					value: 'Tourte des pyrénées',
					id: 'Tourte des pyrénées',
					label: 'Tourte des pyrénées',
				},
			];
		},
		getDrinks() {
			return [
				{
					value: 'Rien merci!',
					id: 'Rien merci!',
					label: 'Rien merci!',
				},
				{
					value: 'Une bière pression',
					id: 'Une bière pression',
					label: 'Une bière pression',
				},
				{
					value: 'Un verre de vin rouge',
					id: 'Un verre de vin rouge',
					label: 'Un verre de vin rouge',
				},
				{
					value: 'Un soda',
					id: 'Un soda',
					label: 'Un soda',
				},
				{
					value: 'Un jus',
					id: 'Un jus',
					label: 'Un jus',
				},
				{
					value: 'Un vin chaud',
					id: 'Un vin chaud',
					label: 'Un vin chaud',
				},
			];
		},
		getAllergies() {
			return [
				{
					value: 'Gluten',
					id: 'Gluten',
					label: 'Gluten',
				},
				{
					value: 'Arachide',
					id: 'Arachide',
					label: 'Arachide',
				},

				{
					value: 'Lait',
					id: 'Lait',
					label: 'Lait',
				},
				{
					value: 'Oeuf',
					id: 'Oeuf',
					label: 'Oeuf',
				},
				{
					value: 'Fruits à coque',
					id: 'Fruits à coque',
					label: 'Fruits à coque',
				},
				{
					value: 'Mollusques',
					id: 'Mollusques',
					label: 'Mollusques',
				},
				{
					value: 'Fruits de mer',
					id: 'Fruits de mer',
					label: 'Fruits de mer',
				},
				{
					value: 'Moutarde',
					id: 'Moutarde',
					label: 'Moutarde',
				},
				{
					value: 'Poissons',
					id: 'Poissons',
					label: 'Poissons',
				},
				{
					value: 'Céleri',
					id: 'Céleri',
					label: 'Céleri',
				},
				{
					value: 'Soja',
					id: 'Soja',
					label: 'Soja',
				},
				{
					value: 'Sulfites',
					id: 'Sulfites',
					label: 'Sulfites',
				},
				{
					value: 'Sésame',
					id: 'Sésame',
					label: 'Sésame',
				},
				{
					value: 'Lupin',
					id: 'Lupin',
					label: 'Lupin',
				},
			];
		},

		getTeamReversed() {
			let options = [];
			let id = 0;
			let memberName;
			let label;
			if (this.team_members_number > 0) {
				while (id <= this.team_members_number) {
					memberName =
						typeof this.team_members_name[id - 1] == 'undefined' ||
						this.team_members_name[id - 1] == ''
							? 'Accompagnant-e N°' + id
							: this.team_members_name[id - 1];
					label = id == 0 ? this.fullname : memberName;
					options.push({
						value: label,
						id: label,
						label: label,
					});
					id++;
				}
			} else {
				options.push({
					value: this.fullname,
					id: this.fullname,
					label: this.fullname,
				});
			}

			return options;
		},
		getDays() {
			let options = [];
			let startDate = moment('28/07/2022', 'DD/MM/YYYY');
			let endDate = moment('07/08/2022', 'DD/MM/YYYY');
			let finalDate = startDate;
			let lastDate = endDate;
			let label;
			if (finalDate != lastDate) {
				while (finalDate <= lastDate) {
					label = finalDate.format('DD/MM/YYYY');
					options.push({
						value: label,
						id: label,
						label: label,
					});

					finalDate = finalDate.add(1, 'days');
				}
			}

			return options;
		},
		getDaysOptions() {
			let options = [];
			let startDate = moment('28/07/2022', 'DD/MM/YYYY');
			let endDate = moment('07/08/2022', 'DD/MM/YYYY');
			let finalDate = startDate;
			let lastDate = endDate;
			let label;
			if (finalDate != lastDate) {
				while (finalDate < lastDate) {
					label = finalDate.format('DD/MM/YYYY');
					options.push({
						value: label,
						label: label,
					});

					finalDate = finalDate.add(1, 'days');
				}
			}

			return options;
		},

		onKeyListener($event) {
			// We've overriden the default "complete" slot so
			// we need to implement the "keyup" listener manually.

			if ($event.key === 'Enter' && this.completed && !this.submitted) {
				this.onSendData();
			}
		},

		/* eslint-disable-next-line no-unused-vars */
		onComplete(completed, questionList) {
			// This method is called whenever the "completed" status is changed.
			this.completed = completed;
		},

		/* eslint-disable-next-line no-unused-vars */
		onSubmit(questionList) {
			// This method will only be called if you don't override the
			// completeButton slot.
			this.onSendData();
		},
		onAnswer(questionAnswered) {
			// Handle answer event.

			if (this.email != '') {
				if (this.firstQuestion) {
					let url = this.endpoint + '/lunch/' + encodeURIComponent(this.email);
					fetch(url, {
						method: 'GET',
						headers: {
							'Content-Type': 'application/json',
						},
					}).then((response) => {
						response.json().then((json) => {
							this.email = json.email;
							if (json != null) {
								Object.assign(this, json || {});
							}
						});
						this.firstQuestion = false;
					});
				} else {
					let url = this.endpoint + '/lunch';
					fetch(url, {
						method: 'PUT',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify(this.$data),
					});
				}
			}
		},
		onSendData() {
			// Set `submitted` to true so the form knows not to allow back/forward
			// navigation anymore.
			this.$refs.flowform.submitted = true;

			this.submitted = true;

			/* eslint-disable-next-line no-unused-vars */
			// const data = this.getData();

			/*
          You can use Fetch API to send the data to your server, eg.:

          fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
        */

			let url = this.endpoint + '/lunch';
			fetch(url, {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(this.$data),
			});
		},

		getData() {
			const data = {
				questions: [],
				answers: [],
			};

			if (typeof this.$refs.flowform.questionList === 'undefined') {
				return data;
			}
			this.$refs.flowform.questionList.forEach((question) => {
				if (question.title) {
					let answer = question.answer;
					if (Array.isArray(answer)) {
						answer = answer.join(', ');
					}

					data.questions.push(question.title);
					data.answers.push(answer);
				}
			});

			return data;
		},
	},
};
</script>

<style lang="css">
@import '../../src/assets/css/themes/theme-minimal.css';
/* If using the npm package, use the following lines instead of the one above */
/* @import '~@ditdot-dev/vue-flow-form/dist/vue-flow-form.css'; */
/* @import '~@ditdot-dev/vue-flow-form/dist/vue-flow-form.theme-minimal.css'; */
</style>
